body{
    text-align: center;
    font-family: "Arial";
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #333;
}

#cabecera{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    display: flex;
    align-items: center;
}

#cabecera #imagen{
    width: 50px; /* Ancho de la imagen */
    height: auto;  /* Altura de la imagen ajustado automaticamente */
    margin-right: 20px;  /* Espacio entre la imagen y el texto */
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 3px solid #DDD;
    margin: 0 auto;
    background-color: white;
}

#container h1{
    font-size: 20px;
}